body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#plaque-payment-form {
  max-width: 550px;
  min-width: 300px;
  max-height: min-content;
  margin: 150px auto;
  visibility: hidden;
}
#address-container {
  max-width: 550px;
  min-width: 300px;
  margin: 150px auto;
}

#plaque-request-header {
  text-align: center;
}

#address-form {
  max-height: 100px;
  text-align: center;
}

#address-not-found {
  color: red;
  text-align: center;
  visibility: hidden;
}

#success-msg {
  color: green;
  text-align: center;
  visibility: hidden;
}

#invalid-email {
  color: red;
  text-align: center;
  visibility: hidden;
}

#overpass-error {
  color: red;
  text-align: center;
  visibility: hidden;
}

#address-status-label {
  color: red;
}
.float-container {
  padding: 20px;
  display: block;
}

